/* Estilo de alto contraste */
.high-contrast {
    background-color: #000 !important;
    color: #fff !important;
}

.high-contrast a {
    color: #ffbf47 !important;
}

.high-contrast button {
    background-color: #ffbf47 !important;
    color: #000 !important;
}

.high-contrast img {
    filter: grayscale(100%) contrast(200%);
}